!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %script{:src => "./js/input.js?date=yyyymmddhhss"}
    %script{:src => "http://maps.google.com/maps/api/js?key={AIzaSyBPZzx94o4MP7A_MBCBxKVsiS97YUoo3v4}&language=ja"}
    :css
      html { height: 100% }
      body { height: 100% }
      #map { height: 100%; width: 100%}
  %body
    #map
    :javascript
      var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
      var Options = {
       zoom: 15,      //地図の縮尺値
       center: MyLatLng,    //地図の中心座標
       mapTypeId: 'roadmap'   //地図の種類
      };
      var map = new google.maps.Map(document.getElementById('map'), Options);
