<div class="content__title">
  新しいクーポン
</div>
<%= form_with model: @post, class: :form, local: true do |form| %>
  <%= form.text_field :image, placeholder: :クーポンイメージ, class: :form__title %>
  <%= form.text_area :text, placeholder: :クーポン内容, class: :form__text %>
  <%= form.submit '投稿する', class: :form__btn %>
<% end %>