.maps{
  margin-top: 110px;
  align-items: center;
  &__body{
    margin: 0 auto;
    &__top{
      margin-bottom: 40px;
      padding-left: 50px;
    }
    &__down{
      padding-left: 50px;
    }
  }
}